#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


input::-webkit-inner-spin-button {
  display: none;
}

:root {
  --sup-duration: 0.5s;
  --sup-delay: 0.5s;
  --sup-items: 4;
}

.countdown {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  background: white;
  animation: .25s linear calc( var(--sup-duration) + (var(--sup-duration) * (var(--sup-items) - 1) + var(--sup-delay) )) forwards hideIt;
  /* Duration + delay; duration * (items -1)  + delay */
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, .45);
}

.countdown.go {
  display: flex;
}


.countdown span {
  position: absolute;
  opacity: 0;
  line-height: 1;
  color: var(--purple);
}



.go .countdown-3 {
  animation: var(--sup-duration) ease-out 0.5s scaleUp;
}
.go .countdown-2 {
  animation: var(--sup-duration) ease-in-out calc(var(--sup-duration) * 1 + var(--sup-delay)) scaleUp;
}
.go .countdown-1 {
  animation: var(--sup-duration) ease-in-out calc(var(--sup-duration) * 2 + var(--sup-delay)) scaleUp;
}
.go .countdown-go {
  /* dur 1s, del: 3 + 0.5 */
  animation: var(--sup-duration) ease-in-out calc(var(--sup-duration) * 3 + var(--sup-delay)) scaleUp;
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(40);
  }
}

@keyframes hideIt {
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* input.answer {
  border: 5px dashed white;
} */
input.answer:focus-visible {
  outline: none;
}

/* button.table-button {
  background: var(--teal);
} */

input[type="text"],
input[type="number"] {
  padding: 10px;
  color: white;

  border-radius: 10px;
  background: rgba(var(--orange-rgb), .75);
  border: 3px solid var(--purple);
  width: 250px
}
input[type="number"] {
  /* padding: 20px 40px; */
  border: 5px dashed white;
  width: 300px;
}

label {
  color: var(--purple)
}

button.go {
  position: absolute;
  right: 0;
  bottom: -80px;
}

.bar {
  background: var(--orange);
  display: flex;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 0px 10px 1px var(--purple);
  align-items: center;
  justify-content: flex-start;
  font-size: 56px;
  gap: 16px;
}

img.bella {
  border-radius: 100%;
  border: 5px solid var(--yellow);
  object-fit: cover;
  width: 75px;
  height: 75px;
  
}
img.bella.active {
  animation: 2s ease-in-out bella;
}


@keyframes bella {
  50% {
    border-color: var(--orange);
    transform: scale(200%) translate(-150px, 150px) rotate(720deg);
  }
  100% {
    transform: scale(100%) translate(0, 0) rotate(0deg);
  }
}

.points {
  position: absolute;
  bottom: 10px;
  color: white;
  right: 70px;
  /* margin-left: -10px; */
}

img.bella-lg {
    border: 10px solid var(--orange);
  border-radius: 100%;
  width: 300px;
  height: 300px;
  /* border: 5px solid var(--yellow); */
  object-fit: cover;
  margin-bottom: 50px;
}

.strap svg {
  width: 500px;
  position: absolute;
  left: 50%;
  top: -80px;
  transform: translateX(-50%);
  pointer-events: none;
}

svg text {
  fill: var(--orange);
}